body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
.topbar {
    display: flex;
    justify-content: flex-end;    
    padding: 0 2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }  
li {
    display: inline;
    padding: 0px 5px;
}
a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.searchbox {
    width: 300px;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    /*display: grid;
    grid-template-areas: 
    "header header"
    "input input"
    "s-button s-lucky";
    grid-row-gap: 10px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 1fr;*/    
}
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*div.inputs input:hover {
    border: 1rem solid;
    outline: black;
}*/
#s-input {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
}
#s-button {
    color: rgb(63, 67, 114);
    grid-area: s-button;
    margin-top: 2em;
    border:rgb(255, 255, 255);
}
#s-button:hover {
    border: double black;
}
#s-lucky {
    grid-area: s-lucky;
    margin-top: 2em;
    border:rgb(255, 255, 255);
}
.your-language {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.botbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    flex-shrink: 0;
}
#additional {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}