.topbar {
    display: flex;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }  
li {
    display: inline;
}
a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.searchbox {
    width: 300px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "input input"
    "s-button s-lucky";
    grid-row-gap: 10px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 1fr;
}
#s-input {
    background-color: rgb(255, 255, 255);
    grid-area: input;
}
#s-button {
    color: rgb(63, 67, 114);
    grid-area: s-button;
    margin-top: 2em;
}
#s-lucky {
    grid-area: s-lucky;
    margin-top: 2em;
}
.your-language {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.current-language {
    position: fixed;
    bottom: 0;
}
.botbar {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}
#left {
    display: flex;
    position: relative;
    left: 0;    
}
#right {
    display: flex;
    position: fixed;
    right: 0;

}